{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
  <div class="row">
    {% if post.published_date %}
      <div class="date col-md-3 col-sm-5 col-xs-7">{{ post.published_date }}</div>
    {% else %}
      <button type="button" class="btn btn-primary" onclick="location.href='{% url 'post_publish' pk=post.pk %}'">Publish</button>
    {% endif %}
    {% if user.is_authenticated or comment.approved_comment %}
      <div class="btn-group col-md-offset-5" role="group">
        <button type="button" class="btn btn-default" onclick="location.href='{% url 'post_edit' pk=post.pk %}'" >
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;Modified
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='{% url 'post_remove' pk=post.pk %}'" >
          <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</button>
        <button type="button"  class="btn btn-default" onclick="location.href='{% url 'add_comment_to_post' pk=post.pk %}'" >
          <span class="glyphicon glyphicon-plus"></span>&nbsp;Add comment</button>
      </div>
    {% endif %}
  </div>
  <h1>{{ post.title }}</h1>
  <p>{{ post.text|linebreaksbr }}</p>
</div>
<hr />
<div class="footer">
  <div class="row">
    {% for comment in post.comments.all %}
    <div class="col-md-4 col-sm-4">
      {% if user.is_authenticated or comment.approved_comment %}
      {% if not comment.approved_comment %}
      {% endif %}
      <div class="panel panel-success approve">
        <input type="hidden" value="{{ comment.approved_comment }}" />
        <div class="panel-heading">
          <div class="tools" style="float: right;">
            {% if not comment.approved_comment %}
            <a class="" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
            <a class="" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
          <h3 class="panel-title" style="font-family: 'Nanum Gothic', serif;"><strong>{{ comment.author }}</strong></h3>
        </div>
        <div class="panel-body">
          <p>{{ comment.text|linebreaks }}</p>
          <div class="row">
            <div class="date col-md-7 col-sm-7">{{ comment.created_date|date:"Y/m/d a f" }}</div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% empty %}
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>No comments here yet :(</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("input:[value='False']").parent().removeClass("panel-success").addClass("panel-warning");
  });
</script>
{% endblock %}
